In [186]:
import pandas as pd
import numpy as np

Q1. Pandas version

In [187]:
print(pd.__version__)

2.3.3

Q2. Records count

In [188]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [189]:
print(len(df))

9704

Q3. Fuel types

In [190]:
len(df['fuel_type'].unique())

2

Q4. Missing values

In [191]:
len([col for col in df.columns if df[col].isnull().any()])

4

Q5. Max fuel efficiency

In [192]:
float(df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max())

23.759122836520497

Q6. Median value of horsepower

In [193]:
previous_median = float(df["horsepower"].median())
print("Previous median:", previous_median)

Previous median: 149.0

In [194]:
mode_value = float(df["horsepower"].mode()[0])
print("Most frequent horsepower:", mode_value)

Most frequent horsepower: 152.0

In [195]:
df["horsepower"] = df["horsepower"].fillna(mode_value)

In [196]:
new_median = float(df["horsepower"].median())
print("New median:", new_median)

New median: 152.0

Q7. Sum of weights

In [197]:
df_selection = df[df["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7)
df_selection

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [198]:
X = df_selection.to_numpy(dtype=float)
XTX = X.T@X

In [199]:
XTX_inv = np.linalg.inv(XTX)

In [200]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200], dtype=float)

In [201]:
w = XTX_inv @ X.T @ y
sum_w = w.sum()
sum_w

np.float64(0.5187709081074016)